<ul class="list-group">
  <% articles.each do |article| %>
      <li class="list-group-item">


        <%
          if(is_profile)
            if(!article.article_section.nil?)%>
                <%= link_to article.title, translate_path(article_id: article.id )+"#"+article.article_section, target: "_self" %>
            <% else%>
              <a href="<%= translate_path(article_id: article.id )%>" target="_self">
                <%= article.title %>
              </a>
          <% end %>
        <% else %>
            <span><%= link_to article.title+" : "+article.user_name.to_s, show_path(id:article.tid) %></span>
        <% end %>
        <span class="displayDate"><%= time_ago_in_words(article.tdate) %> ago</span>


        <span class="pull-right">
          <% if(!@current_user.nil?) %>
            <a href="<%= translate_path(article_id: article.id )%>" target="_self">Translate This Article</a> |
            <%= link_to 'Original Article', article %>
          <% end %>
        </span>
      </li>
  <% end %>
</ul>











