
<div class="col-lg-12">

<%= form_tag('/addcomment', method: "get", class: "") do %>
    <%= hidden_field_tag 'current_gist_id', current_gist_id %>
    <div class="form-group"><%= text_area_tag 'comment', nil, class: "", placeholder: "Leave a comment"  %></div>
    <div class="form-group"><%= submit_tag("Submit Comment",:class=>"btn btn-default") %></div>
<% end %>


<%
  if(!comments.nil?)
    JSON.parse(comments).reverse_each do |value| %>

        <div class="commentDiv container-fluid">
          <div class="commentBy">
            <img src="<%=  value['user']['avatar_url'] %>" class="commentAvator"/>
            <%=  value['user']['login'] %>
          </div>
          <div class="commentBody"><%=  value['body'] %></div>

        </div>
    <% end
  end
 %>
</div>