<%= form_for(translation) do |f| %>
  <% if translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article_id %>
    <%= f.text_field :article_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :article_section %>
    <%= f.text_field :article_section %>
  </div>

  <div class="field">
    <%= f.label :translation_section %>
    <%= f.text_field :translation_section %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
