<script>
  $(function() {
    $("#translateHere").linedtextarea();
//    $('input[type=checkbox]').change(function(e) {
//      var parentdiv = $(this).closest('div');
//      var prev = parentdiv.prev().find('[type=checkbox]')
//      if(parentdiv.next().find('[type=checkbox]').is(':checked'))
//      {
//        $(this).prop("checked", true);
//      }
//      else if(prev.is(':checked') || prev.length==0)
//      {
//        $(this).parent().toggleClass('highlightOriginal');
//      }
//      else
//      {
//        $(this).removeAttr('checked');
//      }
//
//    });
  });

  function getCurrentPath() {
    var pathname = window.location.href;
    var tscheck = pathname.split('ts');
    pathname=pathname.split('#');
    return [tscheck[0],pathname[1]];
  }
  $(window).on('hashchange', function(e){
    $("[name='hightlight_key']").val(getCurrentPath()[1]);
  });
  $(window).ready(function() { //alert(1)
    <% if(!@article_section.nil?) %>
    if(getCurrentPath()[1] === undefined) {
      var url = getCurrentPath()[0] + "&ts=" + $.now() + "#<%= @article_section %>";
        location.href = url
    }
    <% end %>
  });


</script>
<%
  if(@article_section.nil?)
    path="/createGist"
  else
    path="/updateGist"
  end
%>
<%=
  form_tag(path, method: "get", class: "") do
%>
<div class="col-lg-6" id="originalArticle">
  <div id="article-content">
    <p>
    <%=
      @originalArticle.content
    %>
    </p>
  </div>


</div>
<div class="col-lg-6">

  <div class="form-group row">
    <%= hidden_field_tag 'article_id', @article_id %>
    <%= hidden_field_tag 'user_id', @user_id %>
    <%= hidden_field_tag 'hightlight_key' %>
    <%= hidden_field_tag 'current_gist_id', @current_gist_id %>
    <%= hidden_field_tag 'gist_filename', @gist_filename %>
    <%= text_area_tag('translateHere', @translatedText.gsub('<br />', "\n")) %>
    <div class="actions">
      <%= submit_tag("Save",:class=>"btn btn-default") %>
    </div>
  </div>

</div>

<div class="row">

<% end %>
<%= form_tag('/addcomment', method: "get", class: "col-lg-12") do %>
    <%= hidden_field_tag 'current_gist_id', @current_gist_id %>
    <div class="form-group"><%= text_area_tag 'comment', nil, class: "", placeholder: "Leave a comment"  %></div>
    <div class="form-group"><%= submit_tag("Submit Comment",:class=>"btn btn-default") %></div>
<% end %>
</div>

<div>
<% JSON.parse(@comments).reverse_each do |value| %>

    <div class="commentDiv container-fluid">
      <div class="commentBy">
          <img src="<%=  value['user']['avatar_url'] %>" class="commentAvator"/><%=  value['user']['login'] %>
      </div>
      <div class="commentBody"><%=  value['body'] %></div>

    </div>
<% end %>
</div>
