<script>
  $(function() {
    var editor = new MediumEditor('#translateHere');
    //$("#translateHere").linedtextarea();
//    $('input[type=checkbox]').change(function(e) {
//      var parentdiv = $(this).closest('div');
//      var prev = parentdiv.prev().find('[type=checkbox]')
//      if(parentdiv.next().find('[type=checkbox]').is(':checked'))
//      {
//        $(this).prop("checked", true);
//      }
//      else if(prev.is(':checked') || prev.length==0)
//      {
//        $(this).parent().toggleClass('highlightOriginal');
//      }
//      else
//      {
//        $(this).removeAttr('checked');
//      }
//
//    });
  });
  $(document).ready(function(){
    if (localStorage.getItem("showhint") == undefined) {
      $('#hintArea').show();
      localStorage.setItem("showhint", false);
    } else {
      $('#hintArea').hide();
    }

    $('#closeHint').click(function(){
      $('#hintArea').hide();
    });
  });


  function getCurrentPath() {
    var pathname = window.location.href;
    var tscheck = pathname.split('ts');
    pathname=pathname.split('#');
    return [tscheck[0],pathname[1]];
  }
  function setHiddenField()
  {
    $("[name='hightlight_key']").val(getCurrentPath()[1]);
  }
  $(window).on('hashchange', function(e){
    setHiddenField()
  });
  $(window).ready(function() { //alert(1)
    setHiddenField();
    <% if(!@article_section.nil?) %>
    if(getCurrentPath()[1] === undefined) {
      var url = getCurrentPath()[0] + "&ts=" + $.now() + "#<%= @article_section %>";
        location.href = url
    }
    <% end %>
  });


</script>
<div class="col-lg-12" style="margin-bottom: 10px">
  <div class="pgTitle">
    <%= @originalArticle.title %>
  </div>
</div>
<%
  # if(@article_section.nil?)
  #   path="/create_gist"
  # else
  #   path="/update_gist"
  # end
%>
<div id="hintArea">
  <div id="siteHint">Press SHIFT key twice and click on the sentences to highlight.
    <%= image_tag("close.png", id: "closeHint") %>
  </div>
  <div id="tipHint"></div>
</div>
<%#=
  form_tag(path, method: "get", class: "") do
%>

<div class="col-lg-6" id="originalArticle">
  <div id="article-content">
    <p>
    <%=
      @originalArticle.content
    %>
    </p>
  </div>
</div>
<div class="col-lg-6">

  <div class="form-group">
    <%= hidden_field_tag 'article_section', @article_section.nil? %>
    <%= hidden_field_tag 'article_id', @article_id %>
    <%= hidden_field_tag 'user_id', @user_id %>
    <%= hidden_field_tag 'hightlight_key' %>
    <%= hidden_field_tag 'current_gist_id', @current_gist_id %>
    <%= hidden_field_tag 'gist_filename', @gist_filename %>
    <%= raw text_area_tag('translateHere', @translatedText) %>
    <div class="actions">
      <%= submit_tag("Save Translation",:class=>"btn btn-default savetranslation") %>
    </div>
  </div>

</div>
<% #end %>

<%= render 'comments', {comments: @comments, current_gist_id:@current_gist_id} %>

