<script>
  $(function() {
    $("#translateHere").linedtextarea();
    $('input[type=checkbox]').change(function(e) {
      var parentdiv = $(this).closest('div');
      var prev = parentdiv.prev().find('[type=checkbox]')
      if(parentdiv.next().find('[type=checkbox]').is(':checked'))
      {
        $(this).prop("checked", true);
      }
      else if(prev.is(':checked') || prev.length==0)
      {
        $(this).parent().toggleClass('highlightOriginal');
      }
      else
      {
        $(this).removeAttr('checked');
      }

    });
  });

</script>
<%= form_tag("/createGist", method: "get", class: "") do %>
<div class="col-lg-6" id="originalArticle">
  <%
     JSON.parse(@article_json).each do |sentence|
     %>
      <%
        check = ''
        highlight = ''

        if(@article_section.count(sentence[0])>0)
          check = "checked=checked"
          highlight = "highlightOriginal"
        end
      %>
           <div><label class="<%=highlight%> "><input type="checkbox" name="articleSentence[]" id="<%=sentence[0]%>" value="<%=sentence[0]%>" <%= check %> ><%= sentence[1] %>.</label></div>
      <%
      end
  %>
</div>
<div class="col-lg-6">

  <div class="form-group row">
    <%= hidden_field_tag 'article_id', @article_id %>
    <%= hidden_field_tag 'user_id', @user_id %>
    <%= text_area_tag('translateHere', @translatedText) %>
    <div class="actions">
      <%= submit_tag %>
    </div>
  </div>

</div>
<% end %>