<script>
  $(function() {
    $("#translateHere").linedtextarea();
//    $('input[type=checkbox]').change(function(e) {
//      var parentdiv = $(this).closest('div');
//      var prev = parentdiv.prev().find('[type=checkbox]')
//      if(parentdiv.next().find('[type=checkbox]').is(':checked'))
//      {
//        $(this).prop("checked", true);
//      }
//      else if(prev.is(':checked') || prev.length==0)
//      {
//        $(this).parent().toggleClass('highlightOriginal');
//      }
//      else
//      {
//        $(this).removeAttr('checked');
//      }
//
//    });
  });

  function getCurrentPath() {
    var pathname = window.location.href;
    pathname=pathname.split('#');
    return pathname;
  }
  $(window).on('hashchange', function(e){
    $("[name='hightlight_key']").val(getCurrentPath()[1]);
  });
  $(window).ready(function() { //alert(1)
    <% if(!@article_section.nil?) %>
    if(getCurrentPath()[1] === undefined) {
      var url = getCurrentPath()[0] + "&r=" + $.now() + "#<%= @article_section %>";
        location.href = url
    }
    <% end %>
  });


</script>
<%= form_tag("/createGist", method: "get", class: "") do %>
<div class="col-lg-6" id="originalArticle">
  <div id="article-content">
    <p>
    <%=
      @originalArticle.content
    %>
    </p>
  </div>


</div>
<div class="col-lg-6">

  <div class="form-group row">
    <%= hidden_field_tag 'article_id', @article_id %>
    <%= hidden_field_tag 'user_id', @user_id %>
    <%= hidden_field_tag 'hightlight_key' %>
    <%= text_area_tag('translateHere', @translatedText) %>
    <div class="actions">
      <%= submit_tag %>
    </div>
  </div>

</div>
<% end %>