<p id="notice"><%= notice %></p>
<% if(!@current_user.nil?) %>
    <div id="newarticle"><%= link_to 'New Article', new_article_path, id: "" %></div>
<% end

if(@newarticles.length > 0)%>
<div class="pgTitle">Articles</div>
<ul class="list-group">
  <% @newarticles.each do |article| %>
      <li class="list-group-item">
        <%= link_to article.title, article %> <span class="displayDate"><%= time_ago_in_words(article.created_at) %> ago</span>
        <span class="pull-right">
          <% if(!@current_user.nil?) %>
            <a href="<%= translate_path(article_id: article.id )%>" target="_self">
              <%= image_tag("pencil.png", class: "translate_icon")%>
            </a>
          <% end %>
        </span>
      </li>
      <% end %>
</ul>
<div>
<% end %>
</div>
<div class="pgTitle">Translated Articles</div>
<%= render 'translations/articleslist', articles: @articles, is_profile:false %>

<br>
