<p id="notice"><%= notice %></p>

<p>
<div class="pgTitle pull-left">
  <%= link_to @article.title, @article.url, target: '_blank' %>
</div>
<%
  if(defined? @article.article_section)%>
    <!--Hello from the other side -->
    <a target="_self" href="<%= translate_path(article_id: @article.id )%>#<%= @article.article_section %>">Translate This Article</a>
<% else%>
    <!--Hello from the other side part 2-->
    <a target= "_self"href="<%= translate_path(article_id: @article.id )%>">Translate This Article</a>
<% end %>
</p>

<p>
  <%= @article.content %>
</p>

<%#=link_to 'Edit', edit_article_path(@article) %>

<%= link_to 'Back', articles_path %>
