<div class="goBack">
  <%= link_to 'Back', :back %>
</div>
<div class="pgTitle">
  <%= link_to @article.title, @article.url, target: '_blank' %>
</div>
<%
  if(defined? @article.article_section)%>
    <!--Hello from the other side -->
    <a target="_self" href="<%= translate_path(article_id: @article.id )%>#<%= @article.article_section %>">Translate This Article</a>
<% else%>
    <!--Hello from the other side part 2-->
    <a target= "_self"href="<%= translate_path(article_id: @article.id )%>">Translate This Article</a>
<% end %>


<div class="articleaArea">
  <%= raw @article.content %>
</div>

<%#=link_to 'Edit', edit_article_path(@article) %>


