<!DOCTYPE html>
<html>
  <head>
    <title>Mejelly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" id="pgContainer">
      <div class="row" id="pgHeader">
        <div class="col-lg-6 col-xs-12">
          MeJelly
        </div>
        <div class="col-lg-6 col-xs-12 text-right">
          <% if !@user.nil? %>
              <%= @user[:info][:name] %>
              <!--img class="avatar" src="<%= @user[:info][:image] %>" width="50"/-->
              <a href="https://<%= Rails.application.secrets.auth0_domain %>/v2/logout?returnTo=http://localhost:3000/">Logout</a>
          <% else %>
            <a  href="javascript:;" onclick="lock.show();">Login</a>
          <% end %>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>

